### Pitching Analysis

Import the necessary statements and set the dataframes to show all the columns.

In [1]:
import pandas as pd
import pickle
pd.set_option('display.max_columns', None)

Uncomment this line to get the most recent statistics from the DakStats website.

In [37]:
#%run ./Conference_Statistics.ipynb

We import our dataframes for batting, pitching, and fielding statistics as well as our list of teams from the pickle file titled `Stats.pkl`.

In [21]:
with open('Stats.pkl', 'rb') as f:
    dfb = pickle.load(f)
    dfp = pickle.load(f)
    dff = pickle.load(f)
    teams = pickle.load(f)

To gather our totals for each team we take only the total row for each team and rename the dataframe `pitch_totals`. We also delete the `GS` column as the number of games started is not applicable for team totals, only individuals.

In [22]:
pitch_totals = [df[df.Pitching.str.contains("Total:", regex = False)] for df in dfp]
for df in pitch_totals:
    del df["GS"]
pitch_totals[2]

,Pitching,ERA,W,L,GP,CG,SHO,CBO,SV,IP,H,R,ER,BB,SO,2B,3B,HR,TBF,B_AVG,WP,HBP,BK,SFA,SHA
15,Total:,6.08,9,23,32,3,0,0,2,245.2,304,220,166,102,197,52,8,22,1152,0.303,26,25,7,18,4

We combine these total rows into a single dataframe named `merged_pitch_totals`.

In [23]:
merged_pitch_totals = pd.concat(pitch_totals)
merged_pitch_totals[:4]

,Pitching,ERA,W,L,GP,CG,SHO,CBO,SV,IP,H,R,ER,BB,SO,2B,3B,HR,TBF,B_AVG,WP,HBP,BK,SFA,SHA
15,Total:,4.92,11,21,32,10,2,3,3,248.2,265,188,136,95,185,55,1,23,1133,0.271,24,30,0,16,14
17,Total:,6.68,2,26,28,3,0,0,2,207.1,258,224,154,117,177,55,9,20,1067,0.300,28,56,4,16,18
15,Total:,6.08,9,23,32,3,0,0,2,245.2,304,220,166,102,197,52,8,22,1152,0.303,26,25,7,18,4
11,Total:,4.51,20,12,32,8,1,0,6,249.2,259,137,125,86,186,36,4,25,1113,0.264,18,26,4,5,12

For those familiar with baseball, the interpretation of the `IP` column displaying the number of innings pitched by each player is fairly straightforward. However, the decimals are not mathematically equivalent to their numerical value. Because each inning consists of three outs, if a pitcher gets only one out in the inning, their `IP` total would display `0.1` even though mathematically, they threw 1/3 or 0.333... of an inning. To do our calculations we must fix this before summing the total innings pitched. First, we gather the innings pitched in an individual list named `ips`.

In [24]:
ips = merged_pitch_totals["IP"].to_list()

We then run a test for each number in our list. We multiply the number of innings by 10 to eliminate the decimal and then compare the modulus 10 of each number. If that number mod 10 is equal to 0, we know the innings pitched is a whole number and we do nothing. If the number mod 10 is equal to 1, we know that one extra out was earned and we correct the number to 0.333 rather than 0.1 by adding 0.233. Similarly, if the number mod 10 is equal to 2, we must add 0.467 to acheive a decimal of 0.667. Once we have changed each our innings, we copy the dataframe again to avoid any errors and reset the `IP` column to the values in the list `ips`.

In [25]:
for i in range(len(ips)):
    if ((ips[i]*10) % 10) == 0:
        pass
    elif ((ips[i]*10) % 10) == 1:
        ips[i] = ips[i] + 0.233
    elif ((ips[i]*10) % 10) == 2:
        ips[i] = ips[i] + 0.467
fixed_ip_totals = merged_pitch_totals.copy()
fixed_ip_totals["IP"] = ips
fixed_ip_totals[:4]

,Pitching,ERA,W,L,GP,CG,SHO,CBO,SV,IP,H,R,ER,BB,SO,2B,3B,HR,TBF,B_AVG,WP,HBP,BK,SFA,SHA
15,Total:,4.92,11,21,32,10,2,3,3,248.667,265,188,136,95,185,55,1,23,1133,0.271,24,30,0,16,14
17,Total:,6.68,2,26,28,3,0,0,2,207.333,258,224,154,117,177,55,9,20,1067,0.300,28,56,4,16,18
15,Total:,6.08,9,23,32,3,0,0,2,245.667,304,220,166,102,197,52,8,22,1152,0.303,26,25,7,18,4
11,Total:,4.51,20,12,32,8,1,0,6,249.667,259,137,125,86,186,36,4,25,1113,0.264,18,26,4,5,12

We add a total row at the bottom with the code `.sum()` and we delete the `Pitching` column as it does not hold any meaningful information. Finally, we subset only the last column that contains the final totals with the code `.iloc[-1:]`.

In [26]:
fixed_ip_totals.loc["CL_Total"] = fixed_ip_totals.sum()
del fixed_ip_totals["Pitching"]
CL_pitch_totals = fixed_ip_totals.iloc[-1,:]

Since some of the statistics are averages, we have to go back and calculate those by hand because the summation incorrectly calculates those metrics. A few of the conference totals are printed.

In [27]:
CL_tot_p = CL_pitch_totals.copy()
#fix opponent batting average
CL_tot_p["B_AVG"] = round(CL_tot_p["H"] / (CL_tot_p["TBF"] - CL_tot_p["BB"] - CL_tot_p["HBP"] - CL_tot_p["SFA"] - CL_tot_p["SHA"]), 3)
#fix ERA
CL_tot_p["ERA"] = round((CL_tot_p["ER"]*27) / round(CL_tot_p["IP"]*3), 3)

In [28]:
CL_tot_p[:5]

ERA      5.055
W      156.000
L      155.000
GP     312.000
CG      48.000
Name: CL_Total, dtype: float64

Next, in order to rank the Crossroads League pitchers, we will calculate Fielding Independent Pitching (FIP), a statistic that measures a pitcher's effectiveness regardless of defense or inherent luck in hitting. Our first step is to calculate the league constant, which is shown below.

In [29]:
CL_FIP_c = CL_tot_p["ERA"] - (((13*CL_tot_p["HR"] + 3*(CL_tot_p["BB"] + CL_tot_p["HBP"]) - 2*CL_tot_p["SO"])*3) / round(CL_tot_p["IP"]*3))
CL_FIP_c

4.051540271242734

Just like we did with the totals dataframe, we must correct for the notation used in the `IP` column for each team's individual statistical table.

In [30]:
for df in dfp:
    ips = df["IP"].to_list()
    for i in range(len(df.index)):
        if ((ips[i]*10) % 10) == 0:
            pass
        elif ((ips[i]*10) % 10) == 1:
            ips[i] = ips[i] + 0.233
        elif ((ips[i]*10) % 10) == 2:
            ips[i] = ips[i] + 0.467
    df["IP"] = ips

Now that we have workable data, we can calculate our individual FIP statistics for each pitcher. We also add a column for each player's team to improve readability in our final rankings. After creating the column, we move it up to be the first statistical column displayed.

In [31]:
for i in range(len(teams)): #add column for team
    dfp[i]["Team"] = teams[i]
for df in dfp:
    df["FIP"] = round(((13*df["HR"] + 3*(df["BB"] + df["HBP"]) - 2*df["SO"])*3) / round(df["IP"]*3) + CL_FIP_c, 3)
    df["WHIP+"] = round((df["BB"]+df["HBP"]+df["H"])/df["IP"], 2)
    team = df.pop("Team")
    df.insert(1, team.name, team) #move team column to second
    fip = df.pop("FIP")
    df.insert(2, fip.name, fip) #move FIP column to third

We tidy up the data by removing the totals and the opponents rows and removing the unnecessary decimal place in the `GS` column.

In [32]:
for df in dfp:
    df.drop(df.tail(2).index,inplace=True) # drop last 2 rows(only run this code once otherwise data will be lost)
    df['GS'] = df['GS'].astype(int) #remove decimal place on GS column
dfp[2][-2:]

,Pitching,Team,FIP,ERA,W,L,GP,GS,CG,SHO,CBO,SV,IP,H,R,ER,BB,SO,2B,3B,HR,TBF,B_AVG,WP,HBP,BK,SFA,SHA,WHIP+
13,"Platt, Zach",Grace,11.718,15.00,0,0,2,0,0,0,0,0,3.000,8,13,5,4,4,1,0,1,25,0.421,1,2,0,0,0,4.67
14,"Bertke, Ryan",Grace,6.779,19.64,0,0,2,1,0,0,0,0,3.667,8,8,8,4,4,0,0,0,24,0.444,2,2,1,0,0,3.82

We subset the data to only include pitchers with at least 10 conference innings to ensure the best pitchers are recognized.

In [33]:
#make sure everyone has at least 10 IP
for i in range(len(teams)):
    dfp[i] = dfp[i][dfp[i]['IP'] >= 10]

Finally, we combine all of the dataframes with the code `pd.concat`. Then, we sort the rows by FIP beginning with the lowest. To maintain the standard notation of the `IP` column, we run a test to check for pitchers with innings pitched ending in 0.333 or 0.667 and change them back to 0.1 and 0.2 respectively. The top ten Crossroads League pitchers in terms of FIP are shown below.

In [34]:
all_pitchers = pd.concat(dfp)
top_pitchers = all_pitchers.sort_values(by=['FIP']) #sort by FIP in ascending order order
ips = top_pitchers["IP"].to_list() #change IP back to standard notation
for i in range(len(top_pitchers.index)):
    if ((ips[i]*3) % 3) == 0:
        pass
    elif (round(ips[i]*3) % 3) == 1:
        ips[i] = ips[i] - 0.233
    elif (round(ips[i]*3) % 3) == 2:
        ips[i] = ips[i] - 0.467
top_pitchers["IP"] = ips
top_pitchers[:10]

,Pitching,Team,FIP,ERA,W,L,GP,GS,CG,SHO,CBO,SV,IP,H,R,ER,BB,SO,2B,3B,HR,TBF,B_AVG,WP,HBP,BK,SFA,SHA,WHIP+
4,"Stoltzfus, Nick",Grace,2.252,3.60,0,3,8,0,0,0,0,0,10.0,15,7,4,2,12,3,0,0,45,0.366,2,0,1,2,0,1.70
2,"Noelker, Andrew",Marian,2.734,2.96,1,2,7,5,2,1,0,0,27.1,21,14,9,8,38,7,0,1,115,0.200,2,1,0,0,1,1.10
4,"Ubelhor, Mitch",Taylor,2.780,2.29,0,2,10,1,0,0,2,2,19.2,11,10,5,8,34,3,0,1,82,0.153,5,2,0,0,0,1.07
11,"Gongwer, Drake",Taylor,2.894,5.21,1,0,8,0,0,0,0,1,19.0,17,14,11,3,28,7,0,1,81,0.233,3,4,1,0,0,1.26
1,"Sullivan, Kaden",SFU,3.089,1.02,1,0,15,0,0,0,1,11,17.2,12,5,2,8,27,1,0,1,73,0.190,1,0,0,0,2,1.13
3,"Hoffman, Hunter",IWU,3.092,2.16,3,1,8,8,1,1,0,0,50.0,33,17,12,17,64,5,1,2,200,0.181,1,1,0,0,0,1.02
5,"Huseman, Noah",Taylor,3.185,2.40,6,2,8,8,1,1,2,0,45.0,36,16,12,14,56,5,1,1,188,0.217,3,6,1,0,2,1.24
5,"Norman, Braedon",IWU,3.480,2.57,3,1,9,1,0,0,1,1,21.0,18,7,6,4,20,6,0,1,85,0.231,2,1,1,1,1,1.10
3,"Shinabery, Mason",HU,3.626,3.28,5,2,8,7,3,0,0,1,49.1,42,18,18,8,50,11,0,4,196,0.225,3,1,0,0,0,1.03
2,"Adams, Connor",SFU,3.689,1.86,1,0,13,0,0,0,0,1,19.1,12,7,4,13,32,4,0,0,88,0.174,0,6,0,0,0,1.60

In [35]:
sum(top_pitchers["FIP"])/len(top_pitchers)

5.146948717948717

In [36]:
dfp[2]

,Pitching,Team,FIP,ERA,W,L,GP,GS,CG,SHO,CBO,SV,IP,H,R,ER,BB,SO,2B,3B,HR,TBF,B_AVG,WP,HBP,BK,SFA,SHA,WHIP+
3,"Wilhelmi, Bret",Grace,5.552,2.57,1,2,8,1,0,0,0,0,14.000,15,10,4,6,13,3,0,2,64,0.273,0,1,1,2,0,1.57
4,"Stoltzfus, Nick",Grace,2.252,3.60,0,3,8,0,0,0,0,0,10.000,15,7,4,2,12,3,0,0,45,0.366,2,0,1,2,0,1.70
5,"Schumacher, Hunter",Grace,4.552,4.50,1,2,7,1,0,0,0,0,16.000,18,13,8,8,14,7,1,0,76,0.281,1,4,1,0,0,1.88
6,"Decker, Jake",Grace,5.646,4.86,1,0,8,4,0,0,0,0,37.000,33,20,20,15,27,4,3,5,155,0.243,2,1,1,3,0,1.32
7,"Koch, Kameron",Grace,4.418,5.44,2,4,8,8,2,0,0,0,46.333,60,32,28,16,38,10,3,3,215,0.311,6,2,0,2,2,1.68
8,"Etchison, Evan",Grace,5.265,5.76,1,2,9,4,0,0,0,1,29.667,29,24,19,8,28,4,0,5,128,0.252,4,1,2,4,0,1.28
9,"Haney, Houston",Grace,4.144,6.44,1,5,9,7,1,0,0,1,43.333,59,39,31,7,29,15,1,2,197,0.324,1,5,0,2,1,1.64
10,"Meyer, Mason",Grace,7.530,8.61,1,2,8,2,0,0,0,0,23.000,32,30,22,20,17,3,0,3,121,0.337,4,5,0,1,0,2.48
12,"Clark, Tanner",Grace,6.597,11.45,0,3,5,3,0,0,0,0,11.000,19,19,14,8,6,1,0,1,62,0.365,1,1,0,1,0,2.55