# Ballpark Factor

Load the necessary packages

In [60]:
import requests
import lxml.html as lh
import pandas as pd

the team names and numbers

In [61]:
teams =["BC", "GOC", "GRC", "HU", "INWU", "MAR", "MVNU", "SAU", "SFIN", "TAYL"]
t_nums = [1629, 1678, 1679, 1688, 1694, 1717, 1736, 1780, 1805, 1784]

Scrape the webpages

In [63]:
urls = ['http://www.dakstats.com/WebSync/Pages/Team/TeamSchedule.aspx?association=10&sg=MBA&sea=NAIMBA_2019&team=' +
        str(num) for num in t_nums]
#Create a handle, page, to handle the contents of the website
pages = [requests.get(url) for url in urls]
#Store the contents of the website under doc
docs = [lh.fromstring(page.content) for page in pages]
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = [doc.xpath('//tr') for doc in docs]
tables = [doc.xpath('//table') for doc in docs]

Print the contents of our raw data to find the table.

It appears to be line 44 and the odd lines between 45-133.

In [ ]:
for i in range(len(tr_elements[2])):
    print(i, len(tr_elements[2][i]), [t.text_content() for t in list(tr_elements[2][i].iterchildren())])

In [27]:
lines = [44] + list(range(47,134,2))
C_elements = [[
               T_els[i]
               for i in lines #pick only the lines we want
               ]
              for T_els in tr_elements #for each team
              ]

Notice we still have a problem with junk in the last entry of every row except the header.  We'll remove that junk with a `[:5]` at the end of rows in `C_Data` below.

In [ ]:
for T in C_elements[2]:
  print(len(T), [t.text_content() for t in list(T.iterchildren())])

In [29]:
from datetime import datetime

def nice_data(d):
  #If we can turn it into an integer, then do that
  try:
    d=int(d)
  except:
  #If it's not an integer, it might be a float
    try:
      d = float(d)
    except:
      #If it's not a float, it might be a date
      try:
        d = datetime.strptime(d, '%m/%d/%Y')
      except:
        pass
  return(d)

In [37]:
C_Data = [[[
    nice_data(d.text_content()) #get the text content and turn it into numbers if possible
    for d in list(row.iterchildren())[:5] #for each of the first five elements in the row
    ]
    for row in C_els #for each row in the list of rows
    ]
    for C_els in C_elements #for each list of rows corresponding to each team
]
dfc = [pd.DataFrame(columns = D[0], data = D[1:]) for D in C_Data]
dfc[2]

         Date                          Opponent H/A       Time W/L
0  2019-02-27                    Lourdes (Ohio)   N       3-4    L
1  2019-02-27                    Lourdes (Ohio)   N       4-8    L
2  2019-03-02               Cornerstone (Mich.)   N       3-4    L
3  2019-03-02                   Trinity Baptist   N       5-1    W
4  2019-03-04                 Michigan-Dearborn   N      13-1    W
5  2019-03-05                 Rochester (Mich.)   N      24-4    W
6  2019-03-06              Robert Morris (Ill.)   N      10-9    W
7  2019-03-08                  Bethel (Ind.) *    N      13-6    W
8  2019-03-09                  Bethel (Ind.) *    N      14-2    W
9  2019-03-09                  Bethel (Ind.) *    N       3-1    W
10 2019-03-14                  Taylor (Ind.) *    A      5-15    L
11 2019-03-16                  Taylor (Ind.) *    A      2-10    L
12 2019-03-16                  Taylor (Ind.) *    A       3-9    L
13 2019-03-23           Spring Arbor (Mich.) *    A       2-4    L
14 2019-03-25           Spring Arbor (Mich.) *    A      1-11    L
15 2019-03-25           Spring Arbor (Mich.) *    A       6-7    L
16 2019-03-26                  IU Kokomo (Ind.)   A       0-3    L
17 2019-03-26                  IU Kokomo (Ind.)   A       0-5    L
18 2019-03-28              Huntington (Ind.) *    H      12-2    W
19 2019-04-01              Huntington (Ind.) *    H      2-12    L
20 2019-04-01              Huntington (Ind.) *    H      10-9    W
21 2019-04-02             Siena Heights (Mich.)   A       2-8    L
22 2019-04-02             Siena Heights (Mich.)   A       0-4    L
23 2019-04-05             St. Francis (Ind.) *    A     17-13    W
24 2019-04-06             St. Francis (Ind.) *    A       9-8    W
25 2019-04-06             St. Francis (Ind.) *    A      15-7    W
26 2019-04-09               Indiana Wesleyan *    H     16-20    L
27 2019-04-10                      Indiana Tech   A       2-6    L
28 2019-04-12   Mount Vernon Nazarene (Ohio) *    A      0-10    L
29 2019-04-13   Mount Vernon Nazarene (Ohio) *    A      5-12    L
30 2019-04-13   Mount Vernon Nazarene (Ohio) *    A      5-10    L
31 2019-04-16               Indiana Wesleyan *    H       3-1    W
32 2019-04-16               Indiana Wesleyan *    H      1-11    L
33 2019-04-22                  Marian (Ind.) *    H       0-9    L
34 2019-04-22                  Marian (Ind.) *    H       4-6    L
35 2019-04-23                  Marian (Ind.) *    H      3-10    L
36 2019-04-26                  Goshen (Ind.) *    H       5-1    W
37 2019-04-26                  Goshen (Ind.) *    H      2-12    L
38 2019-04-27                  Goshen (Ind.) *    H      2-12    L
39 2019-05-03                 Huntington (Ind.)   N   5-4(10)    W
40 2019-05-04                     Taylor (Ind.)   A       6-3    W
41 2019-05-06                     Marian (Ind.)   N      13-0    W
42 2019-05-07                     Marian (Ind.)   N       2-5    L
43 2019-05-08                     Marian (Ind.)   N      6-14    L

In [58]:
dfc2 = [df[df['Opponent'].str.contains("*", regex = False)]
        for df in dfc]

ValueError: ignored

In [59]:
dfc[0]

                                                 Date  ...   W/L
0                                 2018-09-22 00:00:00  ...     W
1                                 2018-09-22 00:00:00  ...     W
2                                 2018-09-29 00:00:00  ...     L
3                                 2018-09-29 00:00:00  ...     L
4                                 2019-02-22 00:00:00  ...     L
5                                 2019-02-22 00:00:00  ...     L
6                                 2019-02-25 00:00:00  ...     L
7                                 2019-02-25 00:00:00  ...     L
8                                 2019-03-02 00:00:00  ...     L
9                                 2019-03-02 00:00:00  ...     W
10                                2019-03-04 00:00:00  ...     W
11                                2019-03-05 00:00:00  ...     L
12                                2019-03-08 00:00:00  ...     L
13                                2019-03-09 00:00:00  ...     L
14                                2019-03-09 00:00:00  ...     L
15                                2019-03-18 00:00:00  ...     W
16                                2019-03-19 00:00:00  ...     W
17                                2019-03-19 00:00:00  ...     W
18                                2019-03-23 00:00:00  ...     L
19                                2019-03-23 00:00:00  ...     W
20                                2019-03-25 00:00:00  ...     L
21                                2019-03-26 00:00:00  ...     L
22                                2019-03-28 00:00:00  ...     L
23                                2019-04-02 00:00:00  ...     W
24                                2019-04-02 00:00:00  ...     L
25                                2019-04-05 00:00:00  ...     L
26                                2019-04-06 00:00:00  ...     L
27                                2019-04-06 00:00:00  ...     L
28                                2019-04-09 00:00:00  ...     L
29                                2019-04-12 00:00:00  ...     L
30                                2019-04-13 00:00:00  ...     L
31                                2019-04-13 00:00:00  ...     L
32                                2019-04-16 00:00:00  ...     L
33                                2019-04-16 00:00:00  ...     L
34                                2019-04-22 00:00:00  ...     L
35                                2019-04-22 00:00:00  ...     W
36                                2019-04-23 00:00:00  ...     W
37                                2019-04-26 00:00:00  ...     L
38                                2019-04-26 00:00:00  ...     L
39                                2019-04-27 00:00:00  ...     L
40  \r\n        Stats by DakStats Copyright Â© Dak...  ...  None
41                                        2019 Record  ...  None
42                                         Conference  ...  None
43                                       Team Profile  ...  None

[44 rows x 5 columns]

In [57]:
df[df['Opponent'].str.contains("*", regex = False)]

         Date                          Opponent H/A     Time W/L
7  2019-03-08                  Bethel (Ind.) *    N    13-6    W
8  2019-03-09                  Bethel (Ind.) *    N    14-2    W
9  2019-03-09                  Bethel (Ind.) *    N     3-1    W
10 2019-03-14                  Taylor (Ind.) *    A    5-15    L
11 2019-03-16                  Taylor (Ind.) *    A    2-10    L
12 2019-03-16                  Taylor (Ind.) *    A     3-9    L
13 2019-03-23           Spring Arbor (Mich.) *    A     2-4    L
14 2019-03-25           Spring Arbor (Mich.) *    A    1-11    L
15 2019-03-25           Spring Arbor (Mich.) *    A     6-7    L
18 2019-03-28              Huntington (Ind.) *    H    12-2    W
19 2019-04-01              Huntington (Ind.) *    H    2-12    L
20 2019-04-01              Huntington (Ind.) *    H    10-9    W
23 2019-04-05             St. Francis (Ind.) *    A   17-13    W
24 2019-04-06             St. Francis (Ind.) *    A     9-8    W
25 2019-04-06             St. Francis (Ind.) *    A    15-7    W
26 2019-04-09               Indiana Wesleyan *    H   16-20    L
28 2019-04-12   Mount Vernon Nazarene (Ohio) *    A    0-10    L
29 2019-04-13   Mount Vernon Nazarene (Ohio) *    A    5-12    L
30 2019-04-13   Mount Vernon Nazarene (Ohio) *    A    5-10    L
31 2019-04-16               Indiana Wesleyan *    H     3-1    W
32 2019-04-16               Indiana Wesleyan *    H    1-11    L
33 2019-04-22                  Marian (Ind.) *    H     0-9    L
34 2019-04-22                  Marian (Ind.) *    H     4-6    L
35 2019-04-23                  Marian (Ind.) *    H    3-10    L
36 2019-04-26                  Goshen (Ind.) *    H     5-1    W
37 2019-04-26                  Goshen (Ind.) *    H    2-12    L
38 2019-04-27                  Goshen (Ind.) *    H    2-12    L